:root {
  --playBlue: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exerciseGreen: hsl(145, 58%, 55%);
  --socialViolet: hsl(264, 64%, 52%);
  --selfCareOrange: hsl(43, 84%, 65%);
  --neutralVeryDarkBlue: hsl(226, 43%, 10%);
  --neutralDarkBlue: hsl(235, 46%, 20%);
  --neutralPaleBlue: hsl(236, 100%, 87%);
  --neutralDesaturatedBlue: hsl(235, 45%, 61%);
  --mediumDesaturatedBlue: hsl(235, 41%, 34%);
}

.blue {
  background-color: hsl(246, 80%, 60%);
}

.work {
  background-color: hsl(15, 100%, 70%);
}

.study {
  background-color: var(--studyRed);
}

.play {
  background-color: var(--playBlue);
}

.exercise {
  background-color: var(--exerciseGreen);
}

.social {
  background-color: var(--socialViolet);
}

.selfCare {
  background-color: var(--selfCareOrange);
}
