@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --playBlue: hsl(195, 74%, 62%);
  --studyRed: hsl(348, 100%, 68%);
  --exerciseGreen: hsl(145, 58%, 55%);
  --socialViolet: hsl(264, 64%, 52%);
  --selfCareOrange: hsl(43, 84%, 65%);
  --neutralVeryDarkBlue: hsl(226, 43%, 10%);
  --neutralDarkBlue: hsl(235, 46%, 20%);
  --neutralPaleBlue: hsl(236, 100%, 87%);
  --neutralDesaturatedBlue: hsl(235, 45%, 61%);
}

@layer base {
  html {
    font-family: "Rubik", system-ui, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
